body {
    font-family: P22 Underground, sans-serif;
    margin:0;
    top:0;
    
        }
img.logo {
    float: left;
    background-position: left;
    width: 250px;
    margin-left: 25px;
    margin-top: 15px;
}

header {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    background-color: #04574c;
    z-index: 1;
    color: #ffffff;
    text-align: right;
    
        }    
.nav_item{
    margin-top: 50px;
    text-align:right;
    display: inline-block;
    margin-right: 80px;
    margin-bottom: 40px;
    word-spacing: 5.0em;
    z-index: 1;
    
}

h1 {
        font-size: 400%;
        margin-top: 180px;
        color: #ffffff;
        text-align: center;
        
        }

        p3 {
            font-size: 140%;
            margin-top: 180px;
            color: #ffffff;
            margin-left: 503px;
            }

        p4 {
            font-size: 100%;
            line-height: 15.0em;
            color: #ffffff;
            margin-left: -230px;
            text-align: center;
            }
.roundedrec {
    float: left;
    margin-left: 465px;
    margin-top: -40px;
    position: relative;
    width: 280px;
    height: 50px;
    background: #f2b101;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 50px;
    z-index: -1;
}
.arrow1 {
    width: 80px;
    height: 70px;
    position: relative;
    margin-top:-12px;
    margin-left: 565px;
}

.arrow2 {
    width: 80px;
    height: 70px;
    position: relative;
    margin-bottom: -704px;
    margin-left: 35px;
    z-index: 2;
}
.circle {
    float: left;
    margin-left: 575px;
    margin-top: -290px;
    position: relative; top: 280px;
    width: 60px;
    height: 60px;
    background: #f2b101;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

.home {
    float:left;
    text-align: center;
    margin: 0 auto;
    display: inline;
    width: 100%;
    position: absolute;
    z-index: 5;
        }

.mailbox1{
    background-image: url("images/mailbox1.2.png");
    width: 100%;
    height: 540px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -540px;
    position: relative;
    z-index: -2;
        }

.overlay {
   background: linear-gradient(0deg, #04574c, #55aaa1);
    width: 100%;
    height: 540px;
    bottom: 0;
    left: 0;
    right:0;
    top:0;
    opacity: 0.95;
    display: block;
    position: relative;
    z-index: -1;
}



h2 {
    color: #04574c;
    font-size: 250%;
    font-weight: thin;
    text-align: left;
    margin-left: 758px;
    margin-top: 180px;
    line-height: 3.0em;
            }   
h3 {
    color: #55aaa1;
    font-size: 200%;
        font-weight: thin;
        text-align: left;
        margin-left: 758px;
            }
    p1 {
        text-align: left;
        margin-left: 758px;
            }

#middle {
    background-image: url("images/mail.png");
    width: 100%;
    height: 800px;
    margin-top: -60px;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.mailbox{
    background-image: url("images/mailbox1.png");
    width: 100%;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    margin-top: 700px;
        }   

.circle2 {
    float: left;
    margin-left: 45px;
    margin-top: 630px;
    position: absolute;
    width: 60px;
    height: 60px;
    background: #f2b101;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px; 
}
h4 {
    color: #04574c;
    font-size: 250%;
    font-weight: thin;
    text-align: left;
    margin-left: 50px;
    margin-top: 250px;
            }   
h5 {
    color: #55aaa1;
    font-size: 200%;
    font-weight: thin;
    text-align: left;
    margin-left: 50px;
    line-height: 0.2em;
            }
    .p2{
        text-align: left;
        margin-left: 50px;
        margin-top: -15px;
        height: 50px;
        width: 410px;
        
            }
    
    p5 {
        font-size: 125%;
        text align: left;
        margin-left: 350px;
        line-height: 10.0em;
}
      
           
.phones {
    background-image: url("images/phones.png");
    width: 781px;
    height: 975px;
    background-size: cover;
    background-position: right;
    margin-left: 440px;
    position: absolute;
    margin-top: -700px;
    
}

p5 {
    color: #ffffff;
}

#end {
    background-color: #04574c;
    margin-top: 275px;
    height: 300px;
}
   img.logo2 {
       margin-left: 40px;
       width: 175px;
       
}
footer {
    
    font-size: 100%;
    color: #ffffff;
    text-align: right;
    margin-right: 70px;
    height: 80px;
}
        
     }  